*{
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
}
/* position: relative; note to fix */
.container1 {
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
    position: relative;
    text-align: center;
border-radius: 16px;
}

.centre {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

 .ht{
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: normal; 
    margin-bottom: 0px;
}

.hb{
    margin-top: 0px;
    color: #FFF;
    text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 95px;
} 

.bh1{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-weight: 700;
}

.bp1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;  
}

.bp2{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}

.im1{
    margin-top: 48px;
    margin-left: 399px;
    margin-right: 398.1px;
    margin-bottom: 120px;
    position: relative;
}
.body1{
    text-align: center;

}


/* -------------- */

.container2{
    background-image: url("resources/Vectorrr.png");
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
    position: relative;
    text-align: right;
border-radius: 16px;
background-repeat: no-repeat;
}


.centre2{   
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    position: absolute; 
    top: 50%;
    left: 50%;
    text-align: left;
  
}

.ttl2{
    margin-bottom: 0px;
   margin-left: 0px;
color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
}

.pg2{
    top: 0px;
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}

.btn{
    top: 48px;
   color: #FFF;
font-family: Inter;
font-size: 20px;
background-color:transparent ;
border: none;
position:bottom left;
}
  
.im2{
   background-repeat: no-repeat;
    /* background-position: bottom right; */
    position: relative;
}


/* ----------Welcome to
midnight party---------- */



.body3{
    background-color: #F00;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;

/* height: 482px; */
padding: 100px;
    /* justify-content: space-around; */
    text-align: center;

   
     background:rgba(238, 90, 90, 0.365);
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}

.btn2{
  background-color:red;
  color: #FFF;
  border-radius: 5%;
  /* background-color: none; */
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-family: Inter;
    font-size: 20px;
}

.color{
    color: red;
}

/* ---------------joinnow ends------------ */


.containere4{
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
    /* position: relative;
    text-align: center; */
border-radius: 16px;
}

.c4{
    text-align: left;
   
}

.centrediv{
    text-align: center;
    background-image: url("resources/");
}

.x3{
    text-align: right;
}


/* -------------womenBag-------- */


.upperpart1{
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
    position: relative;
    text-align: center;
/* border-radius: 16px; */
}
.ct1{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 0px;
}
.ct2{
    margin-top: 0px;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
margin-bottom: 28px;
}
.color1{
    color: red;
    font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.pg4{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px;
}

/* multiimage */
.lowerpart1{
    /* display: flex; */
   
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
    /* position: relative;
    text-align: center; */
border-radius: 16px;

}

.i1{
    display: block;
    margin-left: auto;
}
.i2{
    display: block;
    margin-left: auto;
}
.i3{
    display: block;
    margin-right: auto;
}
.i4{
    display: block;
  
}

/* ---------50% dis pics moving-------- */






.clr5{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 0px;
}
.awsm{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
 
    font-weight: 900;
   
    text-transform: capitalize;  
}
.PG7{
    margin-top: 22px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
}


.con71{
display: block;

}

.con72{
display: flex;
}

.awesome{
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
    position: relative;
    /* text-align: center; */
border-radius: 16px;
}









/* cpyyy */
.sub-img{
    width: 150px;
height: 150px;
display: center;
margin-left: 585px;
margin-right: 585px;
}
.subscribe-tittle{
    text-align:center;
    gap: none;
    
}
.subscribe-paragraph{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.newsletter{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}



.subs{
    display:center;
    padding: 30px 30px 0px 100px;
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);

}
.btn-sub{
    width: 210px;
height: 72px;
flex-shrink: 0;
border-radius: 0px 50px 50px 0px;
background: #F00;
}
.email{
    width: 648px;
height: 72px;
flex-shrink: 0;
border-radius: 50px;
background: #FFF;
}
    
.foot-main{
    

background: #070211;
padding:160px 270px;
justify-content: space-around;
}
.address{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
display: flex;
}
.number{
color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */

}
.website{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
   
}
.foot-right , .foot-left{
    display: flex;
    justify-content: space-between;
}
.img-icon{
    justify-content: space-around;
    display: flex;
    background: #070211;
    gap: 0px;
}
.l-foot-left{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r-foot-right{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.last-foot-left{
    margin-top: 140px;
    justify-content: space-around;
    display: flex;
}